$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import '../bower_components/sass-bootstrap/lib/bootstrap';
@import "../bower_components/font-awesome/scss/font-awesome";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 19px;
  }
}

/* Custom navbar resembling nav-pill color scheme */
.navbar-default {
  background-color: transparent;
  border: none;
  .navbar-brand {
    color: #428bca;
    &:hover {
      background-color: #e5e5e5;
      color: #428bca;
      border-radius: 4px;
    }
  }
  .navbar-header {
    a {
      font-family: monospace, serif;
    }
  }
  .navbar-nav > .active > a,
  .navbar-header > a.active {
    background-color: #428bca;
    color: #ffffff;
    border-radius: 4px;
    &:hover {
      background-color: #428bca;
      color: #ffffff;
    }
  }
  .navbar-nav > li > a {
    color: #428bca;
    border-radius: 4px;
    &:hover {
      background-color: #e5e5e5;
      color: #428bca;
    }
  }
}

.navbar {
  margin-bottom: 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1300px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 5px;
    .text-muted {
      letter-spacing: 10px;
      font-variant: small-caps;
      font-size: 20px;
      color: #767676;
      text-shadow: 1px 1px 1px #9a9a9a;
    }
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/////////////////////
//
// - List item color is handled by the 'a'
// - List item background color is on the 'li'
//
// Default nav items
.navbar-default .navbar-nav > li {
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 0px;
  text-shadow: 1px 1px 1px lighten(#2f2f2f, 40%);
  z-index: 200;
  > a {
    color: lighten(black, 5%);
  }
}

// Colorful nav items
.nav {
  .pink, .orange, .yellow, .blue, .dark-blue, .purple, .green, .gray, .darker-green {
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 0px;
    text-shadow: 2px 2px 4px #2f2f2f !important;
    z-index: 200;
    a {
      color: white !important;
    }
  }
  .pink {
    background-color: #eb088e;
  }
  .orange {
    background-color: #f5863d;
  }
  .yellow {
    background-color: #ffca05;
  }
  .blue {
    background-color: #0097b7;
  }
  .dark-blue {
    background-color: #485a92;
  }
  .purple {
    background-color: #a360c6;
  }
  .green {
    background-color: #abd378;
  }
  .darker-green {
    background-color: #1ca171;
  }
  .gray {
    background-color: #737373;
  }
}

/////////////////////

.navbar-default .navbar-toggle {
  btn-color: #808080;
}

.navbar-default .navbar-collapse {
  border: none;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  color: black;
}

.btn {
  margin: 3px;
}

.ta-thumbs-1 {
  display: inline-block;
}

//.btn-default {
//  color: black;
//}

.contact-info {
  font: 400 20px/1.5 'Pacifico', Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #4f4f4f;
  text-align: left;
  padding-top: 10px;
  margin-left: 30px;

}

/* Parent class for all feature DIVs */
[class*='feature-'] {
  &:nth-of-type(2n + 1) {
    line-height: 1.5em;
    color: white;
  }
  p {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 10px;
    }
  }
  img {
    max-height: 450px;
  }
  margin-bottom: 15px;
  line-height: 1.3em;
  color: black;
  border-radius: 4px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.feature-1 {
  background-color: #0097B7;
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #2f2f2f;
    text-shadow: 1px 1px 2px #808080;

  }
}

.feature-3 {
  background-color: #0097B7;
  letter-spacing: 1px;

  //  h3 {
  //    letter-spacing: 2px;
  //    text-align: center;
  //    color: #2f2f2f;
  //    text-shadow: 1px 1px 2px #808080;
  //  }
  padding: 5px;
}

.feature-4 {
  background-color: #b9e0f5;
  letter-spacing: .5px;
  //  margin: 2px;

}

.feature-5 {
  background-color: #3ca49b;
  padding: 5px;
  letter-spacing: 1px;
}

.feature-6 {
  background-color: #6da2c0;
  padding: 5px;
  letter-spacing: 1px;

}

.feature-7 {
  background-color: #75c05a;
  padding: 5px;
  letter-spacing: 1px;
  /* SVG as background image (IE9/Chrome/Safari/Opera) */
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3MjAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgo8c3RvcCBzdG9wLWNvbG9yPSIjRkZGRkZGIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjNzVDMDVBIiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNzIwKSIgLz4KPC9zdmc+);
}

.feature-8 {
  background-color: #598ec0;
  padding: 5px;
  letter-spacing: 1px;
  line-height: 23px;
  /* SVG as background image (IE9/Chrome/Safari/Opera) */
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcxMjciIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNCOEFFOUIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cxMjcpIiAvPgo8L3N2Zz4=);
}

.feature-9 {
  background-color: #242424;
  padding: 5px;
  letter-spacing: 1px;
  /* SVG as background image (IE9/Chrome/Safari/Opera) */
  /* SVG as background image (IE9/Chrome/Safari/Opera) */
  /* SVG as background image (IE9/Chrome/Safari/Opera) */
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImczNTkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgo8c3RvcCBzdG9wLWNvbG9yPSIjRkZGRkZGIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjMkE2M0EzIiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnMzU5KSIgLz4KPC9zdmc+);
;
}

.scripty-heading {
  font: 400 40px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #cceeff;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  letter-spacing: 1px;
  //  margin: 2px;
}

.scripty-heading-2 {
  font: 400 30px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #797979;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  letter-spacing: 1px;
  //  margin: 2px;
}

.scripty-heading-3 {
  font: 400 40px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #aad8cf;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  letter-spacing: 1px;
  //  margin: 2px;
}

.scripty-heading-4 {
  font: 400 40px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #fbfff9;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  letter-spacing: 1px;
  //  margin: 2px;
}

.scripty-heading-5 {
  font: 400 40px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #577a8b;
  text-shadow: 3px 3px 0px rgba(218, 215, 197, 0.7);
  text-align: center;
  letter-spacing: 1px;
  //  margin: 2px;
}

.feature-display {
  display: inline-block;
  margin-top: -300px;
}

.homepage {
  background: url('../images/background-image-a.svg') 0 150px no-repeat;
}

//.shrink {
//  resize: 50%both;
//}

.space {
  padding: 20px;
}

.text-little {
  font-size: 11px;
}

.rounders {
  border-radius: 4px
}

.lower {
  padding-top: 700px;
  text-align: right;
}

.bold {
  font-kerning: 10px;
}

.testimonial {
  max-height: 260px;
//  width: 500px;
  overflow: scroll;
  border-radius: 4px;
  background-color: #e5e5e5;
}

.bold {
  font-weight: bold;
  font-size: 13px;
}

.italic {
  font-style: italic;
  font-size: 12px;
}

.gradient {

  /* can be treated like a fallback */
  background-color: #dedede;

  /* will be "on top", if browser supports it */
  background-image: linear-gradient(#f4f4f4, #777777);

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: #f4f4f4;
  background: linear-gradient(#f4f4f4, #777777);

}

.gradient-2 {

  /* can be treated like a fallback */
  background-color: #dedede;

  /* will be "on top", if browser supports it */
  background-image: linear-gradient(#f4f4f4, #777777);

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: #f4f4f4;
  background: linear-gradient(#f4f4f4, #777777);

}

