$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import '../bower_components/sass-bootstrap/lib/bootstrap';
@import "../bower_components/font-awesome/scss/font-awesome";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 19px;
  }
}

/* Custom navbar resembling nav-pill color scheme */
.navbar-default {
  background-color: transparent;
  border: none;
  .navbar-brand {
    color: #428bca;
    &:hover {
      background-color: #e5e5e5;
      color: #428bca;
      border-radius: 4px;
    }
  }
  .navbar-header {
    a {
      font-family: monospace, serif;
    }
  }
  .navbar-nav > .active > a,
  .navbar-header > a.active {
    background-color: #428bca;
    color: #ffffff;
    border-radius: 4px;
    &:hover {
      background-color: #428bca;
      color: #ffffff;
    }
  }
  .navbar-nav > li > a {
    color: #428bca;
    border-radius: 4px;
    &:hover {
      background-color: #e5e5e5;
      color: #428bca;
    }
  }
}

.navbar {
  margin-bottom: 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 5px;
    .text-muted {
      letter-spacing: 10px;
      font-variant: small-caps;
      font-size: 20px;
      color: #767676;
      text-shadow: 1px 1px 1px #9a9a9a;
    }
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/////////////////////
//
// - List item color is handled by the 'a'
// - List item background color is on the 'li'
//
// Default nav items
.navbar-default .navbar-nav > li {
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 0px;
  text-shadow: 1px 1px 1px lighten(#2f2f2f, 40%);
  z-index: 200;
  > a {
    color: lighten(black, 5%);
  }
}

// Colorful nav items
.nav {
  .pink, .orange, .yellow, .blue, .dark-blue, .purple, .green, .gray {
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 0px;
    text-shadow: 2px 2px 4px #2f2f2f !important;
    z-index: 200;
    a {
      color: white !important;
    }
  }
  .pink {
    background-color: #eb088e;
  }
  .orange {
    background-color: #f5863d;
  }
  .yellow {
    background-color: #ffca05;
  }
  .blue {
    background-color: #0097b7;
  }
  .dark-blue {
    background-color: #485a92;
  }
  .purple {
    background-color: #a360c6;
  }
  .green {
    background-color: #abd378;
  }
  .gray {
    background-color: #737373;
  }
}

/////////////////////

.navbar-default .navbar-toggle {
  border-color: #808080;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  color: black;
}

.btn {
  margin: 3px;
}

.ta-thumbs-1 {
  display: inline-block;
}

//.btn-default {
//  color: black;
//}

.contactinfo {
  letter-spacing: 5px;

  color: #f5863d;

}

.feature-1 {
color: #d3d3d3;
background-color: #0097B7;
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #2f2f2f;
    text-shadow: 1px 1px 2px #808080;


  }
}

.layer-z-index-0 {
  z-index: 0;
}

.layer-z-index-1 {
  z-index: 1;
}

.layer-z-index-2 {
  z-index: 2;
}